.gradient {
  background-image:
    linear-gradient(
      to right, 
      #ff6698, 
      #ffb366,
      #ffff66, 
      #98ff66,
      #6698ff,
      #A95AEC
    );
}

body{
  background-color: #fce4ec;
  
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;  
  background-color: #000;
  color: white;
  text-align: center;
}
