.gradient {
  background-image:
    linear-gradient(
      to right, 
      #ff6698, 
      #ffb366,
      #ffff66, 
      #98ff66,
      #6698ff,
      #A95AEC
    );
}

/* *{
  margin: 5px;
} */

body{
  background-color: #f48fb1;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;  
  /* text-align: center; */
}

.home-card{
  display: flex;
  position: center;
  font-size: 20px;
  /* top: 0;
  left: 0; */
  /* height: 100%;
  width: 100%; */
}

.container .row {
  margin: auto;
}

.black-text a{
  color: black;
 }

 /* EXTERNAL LINKS */

 .link-card{
   /* margin: 5px; */
   margin: 2px;
   width: 250px;
   height: 300px;
   display: inline-block;
   font-size: larger;
 }



 .suicide{
  width: 200px;
  height: 200px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .trevor{
  width: 200px;
  height: 200px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

 .pflag{
  width: 200px;
  height: 200px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.theCenter{
  width: 200px;
  height: 200px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.timeOut{
  width: 200px;
  height: 200px;
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* SIGNUP FORM */
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.mycard{
  margin-top: 30px;
}

/* TOS */

.tos-card{
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: 10px auto;
}

/* PROFILE */
.profile-card{
  display: flex;
  font-size: 20px;
  width: 400px;
  height: 400px;
  margin: 5px;
}